<div class="row">
    <div class="col-md-6">
        <div class="mb-3">
            <label for="num1" class="form-label">Convertir Grados</label>
            <input type="text" [(ngModel)]='Convertir' class="form-control" name="celsius" placeholder="Celsius">
        </div>
        <div class="mb-3">
            <input type="radio" name="Calcular" value="celsius"  [(ngModel)]='convertir'/> Celsius<br>
            <input type="radio" name="Calcular" value="fahrenheit"  [(ngModel)]='convertir'/> Fahrenheit<br>
        </div>
        <div class="mb-3">
            <button (click)="Calcular()" class="btn btn-primary">Calcular</button>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Resultado: {{resultado}}</h2>
    </div>
</div>